
<footer class="footer" style="margin-top: 15%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; Developed by Sammani Meegahage</p>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="social-icons" style="float: right">
                    <li><a href="#" target="_blank"><i class='bx bxl-linkedin-square'></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-github' ></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-stack-overflow' ></i></a></li>
                    <!-- Add more social media icons as needed -->
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<!-- Add your custom JS if needed -->

</body>
</html>