{% include 'include/header.twig' with {'title': 'Welcome'} %}

<body class="bg-light">
<div class="container mt-5" style="margin-top: 15% !important; margin-bottom: 19% !important;">
    <h1 class="display-4 text-center">Welcome to VividMVC Framework, {{ name }}</h1>
    <p class="lead text-center">This is a simple welcome page. You can start building your application now!</p>
</div>

{% include 'include/footer.twig' %}

